/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SaintPetersburg implementation : © Dan Marcus <bga.marcuda@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * saintpetersburg.css
 *
 * SaintPetersburg stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (saintpetersburg_saintpetersburg.tpl), and to HTML elements you create dynamically
    (in saintpetersburg.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

#stp_game_area {
    display: flex;
    flex-wrap: wrap;
}

#stp_gameboard_width_sizer {
    width: 740px;
    margin: auto;
}

#stp_gameboard_height_sizer {
    width: 100%;
    padding-bottom: 64.8648649%;
    position: relative;
    margin: 0px;
}

.stp_2nd_edition #stp_gameboard_height_sizer {
    padding-bottom: 65.3425213%;
}

#stp_gameboard {
    width: 100%;
    height: 100%;
    background-image: url('img/board_full.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0px;
}

.stp_2nd_edition #stp_gameboard {
    background-image: url('img/board2.jpg');
}

#stp_phase_label {
    left: 41%;
    top: 2%;
}

.stp_2nd_edition #stp_phase_label {
    left: 41%;
    top: 1.5%;
}

#stp_count_Worker {
    left: 230px;
    top: 128px;
}

.stp_2nd_edition #stp_count_Worker {
    left: 28.2%;
    top: 24.5%;
}

#stp_count_Building {
    left: 372px;
    top: 128px;
}

.stp_2nd_edition #stp_count_Building {
    left: 48.2%;
    top: 24.5%;
}

#stp_count_Aristocrat {
    left: 517px;
    top: 128px;
}

.stp_2nd_edition #stp_count_Aristocrat {
    left: 68.2%;
    top: 24.5%;
}

#stp_count_Trading {
    left: 661px;
    top: 128px;
}

.stp_2nd_edition #stp_count_Trading {
    left: 88.2%;
    top: 24.5%;
}

/* smallest screen */
#stp_myhand_wrap {
    width: 100%;
    height: 145px;
    margin-bottom: 0px;
}

/* medium screen */
@media only screen and (min-width: 1185px) {
    #stp_board_sizer {
        margin-right: 10px;
    }

    #stp_myhand_wrap {
        width: 150px;
        height: 260px;
        margin-top: 200px;
        margin-right: auto;
    }
    .stp_2nd_edition #stp_myhand_wrap {
        width: 157px;
    }
}

/* large screen */
@media only screen and (min-width: 1340px) {
    #stp_myhand_wrap {
        width: 300px;
        height: 145px;
        margin-top: 315px;
    }
    .stp_2nd_edition #stp_myhand_wrap {
        width: 313px;
        height: 145px;
        margin-top: 315px;
    }
}



.stp_square, .stp_discard, .stp_maskcard, .stp_clickcard, .stp_card, .stp_deck, .stp_cardart_small {
    width: 70px;
    height: 112px;
}

.stp_2nd_edition .stp_square, .stp_2nd_edition .stp_discard, .stp_2nd_edition .stp_clickcard, .stp_2nd_edition .stp_card, .stp_2nd_edition .stp_deck {
    width: 9.32%;
    height: 21.84%;
}

.stp_2nd_edition .stp_maskcard, .stp_2nd_edition .stp_clickcard, .stp_2nd_edition .stp_cardart_small {
    width: 73.18px;
    height: 112px;
}

.stp_discard {
    position: absolute;
    left: 47px;
    top: 26px;
}

.stp_2nd_edition .stp_discard {
    left: 2.31%;
    top: 6.45%;
}

.stp_aritable {
    position: absolute;
    width: 149px;
    height: 52px;
    left: 7px;
    top: 156px;
}

.stp_2nd_edition .stp_aritable {
    width: 25.54%;
    height: 8.31%;
    left: 2.19%;
    top: 88.9%;
}

.stp_aritooltip {
    max-width: 300px;
}

.stp_aritooltip table {
    margin: auto;
}

.stp_aritooltip th {
    border: 1px solid black;
    padding: 5px 4px;
    text-align: center;
    font-weight: bold;
}

.stp_aritooltip td {
    border: 1px solid black;
    padding: 3px 4px;
    text-align: center;
}

.stp_square {
    position: absolute;
}

.stp_maskcard {
    background-color: rgba(255, 228, 196, 0.5);
    filter: alpha(opacity=50); /* IE8 */
    display: none;
    border-radius: 10px;
}

.stp_clickcard
{
    cursor: pointer;
}

.stp_card {
    position: absolute;
    background-image: url('img/cards.png');
    background-size: 1000%;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
    border-radius: 14.3% / 8.93%;
}

.stp_2nd_edition .stp_card {
    background-image: url('img/cards2.jpg');
    box-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
    border-radius: 14.3% / 9.33%;
}

.stockitem {
    box-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
    border-radius: 10px;
    background-size: 1000%;
}

.stp_selected {
    border: 2px solid red ! important;
}

.stp_selectable {
    border: 2px solid blue ! important;
    cursor: pointer;
}

.stockitem_select {
    border: 2px solid red ! important;
}

.stp_rubleicon {
    width: 45px;
    height: 24px;
    background-image: url('img/ruble.jpg');
}

.stp_iconspan {
    color: black;
    font-weight: bold;
    margin-right: 3px !important;
}

.stp_board {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.stp_board > .imgtext {
    margin-right: 3px;
}

.stp_board > span {
    margin-right: 5px;
}

.stp_board > div {
    display: inline-block;
}

[class^="stp_cardicon_"] {
    width: 15px;
    height: 24px;
    background-image: url('img/cardbacks_big.jpg');
    background-size: cover;
    display: inline-block;
    margin: 2px;
    position: relative;
    top: 5px;
}

.stp_2nd_edition [class^="stp_cardicon_"] {
    background-image: url('img/cardbacks2.jpg');
}

.stp_cardicon_Worker {
    background-position: 0px 0px;
}

.stp_cardicon_Building {
    background-position: -15px 0px;
}

.stp_cardicon_Aristocrat {
    background-position: -30px 0px;
}

.stp_cardicon_Trading {
    background-position: -45px 0px;
}

.stp_deck {
    position: absolute;
    top: 40px;
    background-image: url('img/cardbacks_big.jpg');
    background-size: 400%;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
    border-radius: 6px;
}

.stp_2nd_edition .stp_deck {
    top: 6.3%;
    background-image: url('img/cardbacks2.jpg');
    background-size: 900%;
    border-radius: 6px;
}

.stp_deck_worker {
    left: 185px;
    background-position: 0% 0%;
}

.stp_2nd_edition .stp_deck_worker {
    left: 18.5%;
}

.stp_deck_building {
    left: 327px;
    background-position: 33.33% 0%;
}

.stp_2nd_edition .stp_deck_building {
    left: 38.5%;
    background-position-x: 12.5%;
}

.stp_deck_aristocrat {
    left: 473px;
    background-position: 66.67% 0%;
}

.stp_2nd_edition .stp_deck_aristocrat {
    left: 58.5%;
    background-position-x: 25%;
}

.stp_deck_trading {
    left: 617px;
    background-position: 100% 0%;
}

.stp_2nd_edition .stp_deck_trading {
    left: 78.6%;
    background-position-x: 37.5%;
}

.stp_emptydeck {
    background: rgba(200,0,0,0.4);
}

.stp_label {
    position: absolute;
    color: black;
    text-shadow: 2px 0 2px #fff,
        0 -2px 2px #fff,
        0 2px 2px #fff,
        -2px 0 2px #fff;
    font-size: 18px;
    font-weight: bold;
}

.stp_label > span {
    position: absolute;
}

#stp_final_label {
    width: 200px;
    left: 79.73%;
    top: 2%;
    color: red;
}

.stp_2nd_edition #stp_final_label {
    top: 1.5%;
}

.stp_token {
    width: 32px;
    height: 32px;
    z-index: 99;
    background-position: -128px -16px; /* empty */
}

.stp_icon {
    width: 16px;
    height: 16px;
}

.stp_icon, .stp_token {
    position: relative;
    display: inline-block;
    background-image: url('img/icons.png');
    margin-right: 5px;
}

.stp_token_Worker {
    background-position: 0px -16px;
}

.stp_token_Building {
    background-position: -32px -16px;
}

.stp_token_Aristocrat {
    background-position: -64px -16px;
}

.stp_token_Trading {
    background-position: -96px -16px;
}

.stp_icon_hand {
    margin-top: 12px;
    background-position: 0px 0px;
}

.stp_icon_ruble {
    background-position: -16px 0px;
}

.stp_icon_aricount {
    background-position: -32px 0px;
}

.stp_icon_0000ff {
    background-position: -48px 0px;
}

.stp_icon_ff0000 {
    background-position: -64px 0px;
}

.stp_icon_008000 {
    background-position: -80px 0px;
}

.stp_icon_ffa500 {
    background-position: -96px 0px;
}

.stp_icon_points {
    background-position: -160px -16px;
}

.stp_icon_rubles {
    background-position: -180px -16px;
}

.stp_icon_rubles, .stp_icon_points {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.stp_icon > span {
    font-size:18px;
    font-weight:bold;
    text-shadow: 1px 0 1px #fff, 0 -1px 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff;
    left: 12px;
    top: 1px;
    position: relative;
}

.stp_activecard {
    position:absolute;
    top:7px;
    left:20px;
    width:48px;
    text-align:center;
    font-size:60%;
    font-weight:bold;
    background-color:white;
    display:block;
    cursor:pointer;
}

.stp_cardart {
    display:inline-block;
    background-image:url('img/cards_big.jpg');
    background-size: 1000%;
    width:96px;
    height:150px;
    margin:10px;
    border:4px solid black;
    border-radius:18px
}

.stp_2nd_edition .stp_cardart {
    background-image:url('img/cards2.jpg');
    width:130.68px;
    height:200px;
}

.stp_cardart_small {
    background-image: url('img/cards.png');
    background-size: 1000%;
    margin: 1px;
    border: 1px solid black;
    border-radius: 14.3% / 8.93%;
}

.stp_2nd_edition .stp_cardart_small {
    background-image: url('img/cards2.jpg');
    border-radius: 14.3% / 9.33%;
}

.stp_cardtooltip {
    text-align:left;
    max-width:300px
}

.stp_publisher_icon {
    background-image: url('img/publisher_small.png');
    width: 50px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;
}

.stp_banner_msg {
    display: inline-block;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    line-height: 32px;
    position: relative;
    width: 100%;
}
