/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SaintPetersburg implementation : © Dan Marcus <bga.marcuda@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * saintpetersburg.css
 *
 * SaintPetersburg stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (saintpetersburg_saintpetersburg.tpl), and to HTML elements you create dynamically
    (in saintpetersburg.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

#stp_gameboard {
    width: 740px;
    height: 480px;
    background-image: url('img/board_full.jpg');
    position: relative;
    margin: auto;
}

.stp_discard {
    position: absolute;
    width: 70px;
    height: 112px;
    left: 47px;
    top: 26px;
}

.stp_square {
    width: 70px;
    height: 112px;
    position: absolute;
}

.stp_maskcard {
    width: 70px;
    height: 112px;
    background-color: rgba(255, 228, 196, 0.75);
    filter: alpha(opacity=20); /* IE8 */
    display: none;
}

.stp_clickcard
{
    width: 70px;
    height: 112px;
    cursor: pointer;
}

.stp_card {
    position: absolute;
    width: 70px;
    height: 112px;
    background-image: url('img/cards.jpg');
    cursor: pointer;
}

.stp_selected {
    border: 3px solid red ! important;
}

.stp_selectable {
    border: 3px solid blue ! important;
    cursor: pointer;
}

.stockitem_select {
    border: 3px solid red ! important;
}

.stp_rubleicon {
    width: 45px;
    height: 24px;
    background-image: url('img/ruble.jpg');
}

.stp_iconspan {
    color: black;
    font-weight: bold;
    margin-right: 3px !important;
}

.stp_board {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.stp_board > .imgtext {
    margin-right: 3px;
}

.stp_board > span {
    margin-right: 5px;
}

.stp_board > div {
    display: inline-block;
}

.stp_cardicon {
    width: 32px;
    height: 32px;
    background-image: url('img/cardicon.png');
}

.stp_deck {
    position: absolute;
    width: 70px;
    height: 112px;
    background-image: url('img/cardbacks_big.jpg');
}

.stp_emptydeck {
    background: rgba(200,0,0,0.4);
}

.stp_deckcount {
    color: black;
    text-shadow: -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;
    font-size: 18px;
    font-weight: bold;
}

.stp_deckcount > span {
    position: absolute;
}

.stp_token {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 99;
    background-image: url('img/tokens.png');
    background-position: -128px 0px; /* empty */
}

.stp_token_small {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    z-index: 99;
    background-image: url('img/tokens_small.png');
    background-position: -64px 0px; /* empty */
    margin-right: 5px;
}

.stp_token_Worker {
    background-position: 0px 0px;
}

.stp_token_Building {
    background-position: -16px 0px;
}

.stp_token_Aristocrat {
    background-position: -32px 0px;
}

.stp_token_Trading {
    background-position: -48px 0px;
}

.stp_activecard {
 position:absolute;
 top:7px;
 left:20px;
 width:48px;
 text-align:center;
 font-size:60%;
 font-weight:bold;
 background-color:white;
 display:block;
 cursor:pointer;
}

.stp_cardart {
 display:inline-block;
 background-image:url('img/cards_big.jpg');
 width:96px;
 height:150px;
 margin:10px;
 border:4px solid black;
 border-radius:10px
}

.stp_cardtooltip {
 text-align:left;
 max-width:300px
}
